{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title>Página</title>
        <meta charset="utf-8">
        <meta name="viewport"       content="width=device-width, initial-scale=1.0">
        <meta name="author"         content="autor do site">
        <meta name="keywords"       content="palavras-separadas,por,virgula">
        <meta name="description"    content="descrição do site">
    </head>
    <body>
        <h1>Verificação de email</h1>
        
        <ul><li>
            <h2>Copie este token e cole no site para concluir o cadastro</h2>
            <h4>{{token}}</h4>
        </li></ul>
    </body>
</html>